@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{margin:0;padding:0;box-sizing:border-box;}

/*Body*/
body{
    background-color: indianred;
    font-family: 'Raleway', sans-serif;
}

/*Navigation*/
nav{
    background-color: azure;
    padding: 1em 0;
}
/*Navigation Anchor*/
nav a{
    text-decoration: none;
    text-align: center;
}
/*Navigation header*/
#navigationHeader {
    color: darkred;
    transition: transform 1s;
}

/*Navigation header Hover*/
#navigationHeader:hover{
    transform: scale(1.2);
}

/*Main Header Container*/
header{
    text-align: center;
    padding: 2em 0 2em 0;
}
h1{

}
.lineHeader{
    width: 80%;
    color:whitesmoke;
    background-color: whitesmoke;
    padding-bottom: 2px;
    margin: 0 auto 10px;
}
#description{
    width: 80%;
    margin: 0 auto;
}


/*Search Bar Container*/
#searchBarContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

form{
    border: 2px solid black;
    background-color: whitesmoke;
    margin: 0;
    border-radius: 10px;
    padding: 5px;
}

.search{
    font-size: 27px;
    background-color: whitesmoke;
    width: 260px;
    padding: 1px 0 3px 0;
    margin:0;
    border: none;
    outline: none;
}
#submitButton{
    font-size: 28px;
    padding: 0px .5em;
    border: none;
    border-radius: 12px;
    background-color: lightgrey;
    transition: box-shadow .08s;
}
#submitButton:hover{
    box-shadow: 0px 2px 10px black;
}


/*Main Section*/
main{
    border: 2px solid darkslategrey;
    padding: 2em 0;
}
#userHeader{
}
h2{
    text-align: center;
    padding-bottom: 6px;
}
#userBio{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
#userImage{
    height: 220px;
    border-radius: 24px;
    margin: 0 auto;
    display: block;
    padding: 12px 0;
}
.followersSection{
    display: flex;
    justify-content: space-evenly;
}

#userInformation{
    padding-top: 12px;
    width: 80%;
    margin: 0 auto;
}

#reachMeContainer{
    text-align: center;
    padding-top: 12px;
}
#anchorReachMe{
    text-decoration: none;
    color: white;
}

#anchorReachMe p{
    transition: transform 1s;
}

#anchorReachMe p:hover{
    transform: scale(1.2);
}


/*When the screen is larger than 600px*/
@media only screen and (min-width: 600px) {
main{
    width: 480px;
    margin: 0 auto;
}
    /*Main Header Container*/
    header{
        text-align: center;
        padding: 5em 0 2em 0;
    }
    h1{
        font-size: 63px;
    }
    .lineHeader{
        width: 35%;
        padding-bottom: 2px;
        margin-bottom: 10px;
    }
    #description{
        font-size: 22px;
        width: 25%;
        margin: 0 auto;
    }

}